<div class="mobile-news-wrapper">

	<div id="div-gpt-ad-1450274467253-0"></div>

	<div class="mobile-title cat-100"><span>Arama Sonuçları</span></div>
	<ul class="mobile-news-list-horizontal" id="results">
		{% include "ajax/ajax_page_content.twig" %}
	</ul>
</div>
