<div class="mobile-news-wrapper">

	<div id="div-gpt-ad-1450274467253-0"></div>

	<div class="mobile-title cat-100"><span><i class="icon">&#xe814;</i> "{{etiket|title}}" etiketi için sonuçlar</span></div>
	<ul class="mobile-news-list-horizontal" id="results">
		{% include "ajax/ajax_page_content.twig" %}
	</ul>
</div>
{%include "ajax/ajax_page_load.twig" with {type:"etiket"}%}
