<main class="page-container">
	<h3 class="page-title">
		{{content.page_title}}
		{% if admin == 1 %}
			<a title="Sayfayı Düzenle" style="float:right;" href="{{link_edit}}">#</a>
		{% endif %}
	</h3>
	{{content.page_text|raw}}

	<div id="div-gpt-ad-1450274467253-0"></div>

</main>
