{% if linkler.pre_id != '' %}
	<div
		class="his_item"
		data-id="{{linkler.pre_id}}"
		data-title="{{linkler.pre_title}}"
		data-url="{{linkler.pre_link}}">
	</div>

	<div id="results_{{linkler.pre_id}}"> </div>
{% endif %}
