<a target="_blank" rel="noopener noreferrer" href="{{content_video_data.content_url}}"> <div class="videoBoxDetay">{{content_video_data.content_title}} İZLE</div></a>
<iframe
width="670" height="380"
scrolling="no" frameborder="0" marginheight="0" marginwidth="0"
allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen
src="http://video.superhaber.tv/embed/{{content_video_data.content_id}}">
</iframe>
